Source: n4d-shutdowner-server
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2

Package: n4d-shutdowner-server
Architecture: all
Pre-Depends: n4d (>=0.112)
Depends: ${misc:Depends}, lliurex-shutdowner-common
Description: LliureX Shutdowner server plugins 
 Plugins supporting lliurex shutdowner server functionality


